In [3]:
import numpy as np

Q1 Let x = np.arange(4, dtype=np.int64). Create an array of ones with the same shape and type as X.

In [4]:
x = np.arange(4, dtype=np.int64)
result = np.ones_like(x)

Q2 Let X = np.array([[1, 2], [3, 4]]). Convert it into a matrix.

In [5]:
X = np.array([[1, 2], [3, 4]])
matrix_X = np.asmatrix(X)

Q3 Create a 1-D array of 50 evenly spaced elements between 3. and 10., inclusive.

In [6]:
array = np.linspace(3, 10, 50)

Q4 Let x be array [[1, 2, 3], [4, 5, 6]]. Convert it to [1 4 2 5 3 6].

In [7]:
x_q4 = np.array([[1, 2, 3], [4, 5, 6]])
result_q4 = x_q4.flatten(order='F')

Q5 Let x be an array [1, 2, 3, ..., 9]. Split x into 3 arrays, each of which has 4, 2, and 3 elements in the original order.

In [8]:
x_q5 = np.arange(1, 10)
result_q5 = np.split(x_q5, [4, 6])

Q6 Compute the inverse and primary diagnol sum of x=[[1,2],[3,4]]

In [9]:
x_q6 = np.array([[1, 2], [3, 4]])
inverse_q6 = np.linalg.inv(x_q6)
diagonal_sum_q6 = np.trace(x_q6)

Q7 Sort x along the second axis. x = [[1,4],[3,1]]

In [10]:
x_q7 = np.array([[1, 4], [3, 1]])
result_q7 = np.sort(x_q7, axis=1)

Q8 Get the indices that would sort x(as above) along the second axis.

In [11]:
indices_q8 = np.argsort(x_q7, axis=1)

Initiate x as a 2x5 array with random values from 0 to 10(not inclusive).Get the maximum and minimum values and their indices of x along the second axis.

In [15]:
x_q8 = np.random.rand(2, 5) * 10
max_values_q8 = np.amax(x_q8, axis=1)
min_values_q8 = np.amin(x_q8, axis=1)
max_indices_q8 = np.argmax(x_q8, axis=1)
min_indices_q8 = np.argmin(x_q8, axis=1)

Run the following load command to get the 2-Dim iris dataset. Do the following operations on it.

In [16]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

Drop rows that contain a missing value.

In [17]:
iris_2d = iris_2d[~np.isnan(iris_2d).any(axis=1)]

Find the correlation between first two columns.

In [18]:
correlation = np.corrcoef(iris_2d[:, 0], iris_2d[:, 1])[0, 1]

Find the mean,median and standard deviation of column 3.

In [19]:
mean = np.mean(iris_2d[:, 2])
median = np.median(iris_2d[:, 2])
std = np.std(iris_2d[:, 2])

Create a new column for volume in iris_2d, where volume is (pi x petallength x sepal_length^2)/3

In [20]:
volume = (np.pi * iris_2d[:, 2] * (iris_2d[:, 0] ** 2)) / 3
iris_2d = np.column_stack((iris_2d, volume))

Run the following loaad command and solve the following questions

In [27]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

Find the count of unique species.

In [22]:
unique_species_q12 = np.unique(iris[:, 4], return_counts=True)

Bin the petal length (3rd) column of iris_2d to form a text array, such that if petal length is: Less than 3 –> ‘small’ 3-5 –> ‘medium’ ‘>=5 –> ‘large’

In [24]:
bins = [0, 3, 5, np.inf]
labels = ['small', 'medium', 'large']
petal_length_category = np.digitize(iris_2d[:, 2], bins, right=True)
petal_length_category = [labels[i - 1] for i in petal_length_category]

Find the most frequent value of petal length (3rd column) in iris dataset

In [29]:
petal_lengths = iris[:, 2].astype(float)
most_frequent_petal_length = np.bincount(petal_lengths.astype(int)).argmax()