# Pandas Exercises

## Creating DataFrames and Using Sample Data Sets

This is the Jupyter Notebook runnable exercises version of the article, [Pandas Practice Questions â€“ Fifty-Two Examples to Make You an Expert](https://codesolid.com/pandas-practice-questions-twenty-one-examples-to-make-you-an-expert/).

In [2]:
import pandas as pd
import numpy as np
import seaborn as sb

**1.** Using NumPy, create a Pandas DataFrame with five rows and three columms:

In [3]:
data = np.random.randn(5, 3)
df = pd.DataFrame(data, columns=['A', 'B', 'C'])

**2.** For a Pandas DataFrame created from a NumPy array, what is the default behavior for the labels for the columns?  For the rows?



```
# By default, the labels for columns are integers starting from 0, and the row labels are also integers starting from 0.
```

**3.** Create a second DataFrame as above with five rows and three columns, setting the row labels to the names of any five major US cities and the column labels to the first three months of the year.

In [4]:
cities = ['NYC', 'LA', 'Chicago', 'Houston', 'Phoenix']
months = ['Jan', 'Feb', 'Mar']
data_cities = np.random.randn(5, 3)
df_cities = pd.DataFrame(data_cities, index=cities, columns=months)

**4.** You recall that the Seaborn package has some data sets built in, but can't remember how to list and load them. Assuming the functions to do so have "data" in the name, how might you locate them?  You can assume a Jupyter Notebook / IPython environment and explain the process, or write the code to do it in Python.

In [7]:
sb.get_dataset_names()
df_penguins = sb.load_dataset('penguins')

## Loading data from CSV

**5**. Zillow home data is available at this URL: https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv

Open this file as a DataFrame named df_homes in Pandas.

In [8]:
data = "https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv"
df_homes = pd.read_csv(data)

**6.** Save the DataFrame, df_homes, to a local CSV file, "zillow_home_data.csv".

In [11]:
df_homes.to_csv("zillow_home_data.csv", index=False)

**7.** Load zillow_home_data.csv back into a new Dataframe, df_homes_2

In [12]:
df_homes_2 = pd.read_csv("zillow_home_data.csv")

**8.** Compare the dimensions of the two DataFrames, df_homes and df_homes_2.  Are they equal?  If not, how can you fix it?

In [13]:
if df_homes.shape == df_homes_2.shape:
  print("equal")
if df_homes.shape != df_homes_2.shape:
  print("unequal")

equal

**9.** A remote spreadsheet showing how a snapshot of how traffic increased for a hypothetical website is available here: https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx. Load the worksheet page of the spreasheet data labelled "February 2022" as a DataFrame named "feb".  Note: the leftmost column in the spreadsheet is the index column.

In [14]:
datta = "https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx"
feb = pd.read_excel(datta, sheet_name="February 2022", index_col=0)

**10.** The "Month to Month Increase" column is a bit hard to understand, so ignore it for now.  Given the values for "This Month" and "Last Month", create a new column, "Percentage Increase".

In [15]:
feb['Percentage Increase'] = ((feb['This Month'] - feb['Last Month']) / feb['Last Month']) * 100

## Basic Operations on Data

**11.** Using Seaborn, get a dataset about penguins into a dataframe named "df_penguins".  Note that because all of the following questions depend on this example, we'll provide the solution here so no one gets stuck:

In [16]:
df_penguins = sb.load_dataset('penguins')

**12.** Write the code to show the the number of rows and columns in df_penguins

In [17]:
df_penguins.shape

(344, 7)

**13.** How might you show the first few rows of df_penguins?

In [18]:
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

**14.** How can you return the unique species of penguins from df_penguins?  How many unique species are there?

In [19]:
unique_species = df_penguins['species'].unique()
num_unique_species = len(unique_species)

**15.** What function can we use to drop the rows that have missing data?

In [20]:
df_penguins.dropna()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

**16.** By default, will this modify df_penguins or will it return a copy?

By default, it will return a copy

**17.** How can we override the default?

df_penguins.dropna(inplace=True)

**18.** Create a new DataFrame, df_penguins_full, with the missing data deleted.

In [21]:
df_penguins_full = df_penguins.dropna()

**19.** What is the average bill length of a penguin, in millimeters, in this (df_full) data set?

In [22]:
average_bill_length = df_penguins_full['bill_length_mm'].mean()

**20.** Which of the following is most strongly correlated with bill length?  a) Body mass?  b) Flipper length?  c) Bill depth?  Show how you arrived at the answer.

In [23]:
correlations = df_penguins_full.corr()
most_correlated = correlations['bill_length_mm'].idxmax()

<ipython-input-23-3afcce6a0633>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations = df_penguins_full.corr()

**21.** How could you show the median flipper length, grouped by species?

In [24]:
median_flipper_length = df_penguins_full.groupby('species')['flipper_length_mm'].median()

In [25]:

species_longest_flippers = df_penguins_full.loc[df_penguins_full['flipper_length_mm'].idxmax()]['species']
print(species_longest_flippers)

Gentoo

**22.** Which species has the longest flippers?

Gentoo

**23.** Which two species have the most similar mean weight?  Show how you arrived at the answer.

('Adelie', 'Gentoo')

In [27]:
mean_weights = df_penguins_full.groupby('species')['body_mass_g'].mean()
most_similar_species = mean_weights.idxmin(), mean_weights.idxmax()
print
(most_similar_species)

('Adelie', 'Gentoo')

**24.** How could you sort the rows by bill length?

In [30]:
df_penguins_full = df_penguins_full.sort_values(by='bill_length_mm')

**25.** How could you run the same sort in descending order?

In [31]:
df_penguins_full = df_penguins_full.sort_values(by='bill_length_mm', ascending=False)

**26.** How could you sort by species first, then by body mass?

In [32]:
df_penguins_full.sort_values(by=['species', 'body_mass_g'], inplace=True)

## Selecting Rows, Columns, and Cells

Let's look at some precious stones now, and leave the poor penguins alone for a while.  Let's look at some precious stones now, and leave the poor penguins alone for a while.

**27.** Load the Seaborn "diamonds" dataset into a Pandas dataframe named diamonds.

In [34]:
diamonds = sb.load_dataset('diamonds')

**28.** Display the columns that are available.

In [35]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

**29.** If you select a single column from the diamonds DataFrame, what will be the type of the return value?

The type will be a Pandas Series

**30.** Select the 'table' column and show its type

In [36]:
type(diamonds['table'])

pandas.core.series.Series

**31.** Select the first ten rows of the price and carat columns ten rows of the diamonds DataFrame into a variable called subset, and display them.

In [37]:
subset = diamonds[['price', 'carat']].head(10)

**32.** For a given column, show the code to display the datatype of the _values_ in the column?

In [41]:
diamonds['carat'].dtype

dtype('float64')

**33.** Select the first row of the diamonds DataFrame into a variable called row.

In [44]:
row = diamonds.iloc[0]

**34.** What would you expect the data type of the row to be?  Display it.

A Pandas series

In [45]:
type(row)

pandas.core.series.Series

**35.** Can you discover the names of the columns using only the row returned in #33?  Why or why not?Can you discover the names of the columns using only the row returned in #33?  Why or why not?

Yes, because a row series should have the columns as the index (See below):

In [46]:
column_names = row.index

**36.** Select the row with the highest priced diamond.

In [47]:
highest_priced_diamond = diamonds.loc[diamonds['price'].idxmax()]

**37.** Select the row with the lowest priced diamond.

In [48]:
lowest_priced_diamond = diamonds.loc[diamonds['price'].idxmin()]

## Some Exercises Using Time Series

 Load the taxis dataset into a DataFrame, taxis.

Since Taxis dataset is not provided we cant do

In [49]:
####Since Taxis dataset is not provided we cant do

**39.** The 'pickup' column contains the date and time the customer picked up, but it's a string.  Add a column to the DataFrame, 'pickup_time', containing the value in 'pickup' as a DateTime.

In [ ]:
taxis['pickup_time'] = pd.to_datetime(taxis['pickup'])

**40.** We have a hypothesis that as the day goes on, the tips get higher.  We'll need to wrangle the data a bit before testing this, however.  First, now that we have a datetime column, pickup_time, create a subset of it to create a new DataFrame, taxis_one_day. This new DataFrame should have values between '2019-03-23 00:06:00' (inclusive) and '2019-03-24 00:00:00' (exlusive).

In [ ]:
start_time = '2019-03-23 00:06:00'
end_time = '2019-03-24 00:00:00'
taxis_one_day = taxis[(taxis['pickup_time'] >= start_time) & (taxis['pickup_time'] < end_time)]

**41.** We now have a range from morning until midnight, but we to take the mean of the numeric columns, grouped at one hour intervals.  Save the result as df_means, and display it.

In [ ]:
df_means = taxis_one_day.resample('1H', on='pickup_time').mean()

**42.** Create a simple line plot of the value "distance".

In [ ]:
import matplotlib.pyplot as plt

df_means['distance'].plot(kind='line')
plt.show()

**43.** Overall, do riders travel further or less far as the day progresses?

**44.** Create a new column in taxis_means, ```tip_in_percent```.  The source columns for this should be "fare" and "tip"

In [ ]:
df_means['tip_in_percent'] = (df_means['tip'] / df_means['fare']) * 100

**45.** Create a new column, time_interval, as a range of integer values beginning with zero.

In [ ]:
df_means['time_interval'] = range(len(df_means))

Display the correlations between the following pairs of values:
1. tip_in_percent and distance.
1. tip_in_percent and passengers.
1. tip_in_percent and time_interval.

**47.** Admittedly, the size of the data set is fairly small given how we've subsetted it.  But based on the values in #45, which of the three pairs show the strongest correlation.

**48.** Did our hypothesis that people tip more as the day goes on turn out to be warranted?